[Unit]
Description = Kodi Media Center
After = systemd-user-sessions.service network.target sound.target

[Service]
User = kodi
Group = kodi
Type = simple
ExecStart = /usr/bin/kodi-standalone
ExecStop = killall --user kodi --wait --regexp 'kodi.*'
Restart = always
RestartSec = 15

[Install]
WantedBy = multi-user.target
